<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Boot Security Hello</title>
</head>
<body>
<h2>Demo Spring Boot - Remember me</h2>
<h3><p th:text="${message}"></p></h3>
<form method='POST' name='login-form' th:action="@{/j_spring_security_login}">
    <table>
        <tr>
            <td>Username:</td>
            <td><input name='username' type='text' value=''></td>
        </tr>
        <tr>
            <td>Password:</td>
            <td><input name='password' type='password'/></td>
        </tr>
        <tr>
            <td>Remember Me:</td>
            <td><input name="remember-me" type="checkbox"/></td>
        </tr>
        <tr>
            <td><input name="submit" type="submit" value="submit"/></td>
        </tr>
    </table>
    <input name="${_csrf.parameterName}" type="hidden" value="${_csrf.token}"/>
</form>
</body>
</html>